<%- include('./blocks/header.ejs', {bot,user}) %>

 <style>
  p{color: orange; font-size: 15pt;}
  h4{color: red; font-size: 30pt;}
  p1{color: #7289DA; font-size: 20pt;}
  p2{color: orange; font-size: 25pt;}
  p3{color: #7289DA; font-size: 15pt;}
  h2{color: #7289DA; font-size: 15pt;}
  h3{color: #7289DA; font-size: 20pt:}
  i{color: #7289DA; font-size: 15pt;}
 </style>
 <center><p>
  Hi there! the website is currently in progress but,
  please check out our page on Bumper!
 </p><a href="https://bumper.glitch.me/server/372145652798324738" class="btn btn-lg btn-primary mx-1" data-no-instant>Here!</a></center>
